@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

#title {
    margin-top: 50px;
    font-family: 'Audiowide', cursive;
    font-size: 70px;
}

span {
    font-family: 'Permanent Marker', cursive;
    animation-name: multicolor;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes multicolor {

    0%   {color:rgb(177, 34, 82)}
    20%   {color:rgb(155, 86, 22)}
    40%   {color: rgb(187, 161, 16)}
    60%  {color: rgb(26, 141, 150)}
    80% {color: rgb(26, 53, 206)}
    100%  {color: rgb(74, 28, 148)}
  }



#home-container,#game-container,#end-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#rules {
    font-size: 25px;
    font-family: 'Padauk', sans-serif;
    font-weight: bold;
}


#start {
    background-color: rgb(231, 49, 95);
    color: white;
    font-size: 25px;
    font-family: 'Audiowide', cursive;
}

#start:hover {
    background-color: white;
    color: rgb(231, 49, 95);
}




#help {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border: white 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-size: 30px;
    background: rgba(22, 115, 202, 0.514);
    color: rgba(255, 255, 255, 0.733);
    font-family: 'Audiowide', cursive;
}

.hide {
    display: none;
}
  
#help:hover + .hide {
    display: block;
    color: white;
    position: fixed;
    top: 50px;
    right: 0;
    width: 200px;
    height: 70px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.603);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Padauk', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 7px;

}

#question {
    font-size: 50px;
    font-family: 'Audiowide', cursive;

}

#lyricLine, #songId {
    font-size: 40px;
    font-family: 'Padauk', sans-serif;
}



button {
    font-family: 'Audiowide', cursive;
}

.optBtns {
    background: white;
    color: rgb(44, 44, 233);
}

.optBtns:hover {
    background: rgb(44, 44, 233);
    color: white;
}

#songId {
    font-size: 20px;
}


.time-container {
    position: fixed;
    width: 75px;
    height: 75px;
    border-radius: 75px;
    background-color: rgba(22, 115, 202, 0.514);
    border: white 5px solid;
    top: 30px;
    left: 10px;
    color: white;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Audiowide', cursive;
}


.correct {
    background-color: rgb(14, 206, 46);
    color: white;
}
.wrong {
    background-color: rgb(223, 27, 27);
    color: white;
}



  body {
    background: rgb(217,94,127);
    background: linear-gradient(90deg, rgba(217,94,127,1) 0%, rgba(201,121,222,1) 48%, rgba(144,69,185,1) 100%);
      display: flex;
      align-items: center;
      flex-direction: column;
  }
  

  #homeBtn {
      background-color: rgb(105, 23, 105);
      color: white;
      margin-top: 30px;
  }

  #homeBtn:hover {
    color: rgb(105, 23, 105);
    background-color: white;
  }